.blue-btn {
  text-transform: uppercase;
  margin: 0 auto;
  width: 250px;
  display: block;
  background-color: $blueBtn;
  color: $white;
  font: 19px 'Roboto', sans-serif;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 13px;
}
